PreferentialVoting/PreferentialVoting/obj/
PreferentialVoting/PreferentialVoting/bin/Debug/PreferentialVoting.vshost.exe.manifest
PreferentialVoting/PreferentialVoting/bin/Debug/
PreferentialVoting/PreferentialVoting.v12.suo
